CompileFlags:
  Add: 
    - "-I/root/kernel_dev/cute-kernels/cute-gemm"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute/numeric"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute/arch"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute/atom"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute/container"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include/cute/algorithm"
    - "-I/root/kernel_dev/.pixi/envs/default/include"
    - "-I/root/kernel_dev/.pixi/envs/default/targets/x86_64-linux/include"
    - "-DCUTLASS_ARCH_MMA_SM90A_SUPPORTED=1"
    - "-DCUTLASS_ARCH_SM80_SUPPORTED=1" 
    - "-DCUTLASS_ENABLE_ASYNC_COPY=1"
    - "--cuda-path=/root/kernel_dev/.pixi/envs/default"
    - "-std=c++20"
    - "-DCMAKE_EXPORT_COMPILE_COMMANDS=ON"
  CompilationDatabase: build/