CompileFlags:
  CompilationDatabase: /root/kernel_dev/cute-kernels/
  Add:
    # - "-D__CUDACC__"
    # - "-D__CUDACC_RTC__"
    # - "-D_GLIBCXX_USE_CXX11_ABI=1"
    # - --cuda-gpu-arch=sm_80
    # - "-D__GLIBC_USE(F)=__GLIBC_USE_##F"
    # - "-D_DEFAULT_SOURCE"
    # - "-D_GNU_SOURCE"
    # - "-D__USE_GNU"
    # - "--include-cleaner-stdlib"
    # - "-D__CUDA_ARCH__=800"
    # - "--query-driver=/root/kernel_dev/cute-kernels/.pixi/envs/default/bin/clang*"
    # - "--resource-dir=/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/clang/20"
    - "-Xclang"
    - "-fcuda-allow-variadic-functions"
    - "-resource-dir=/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/clang/20"
    - "-std=c++20"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/13.3.0/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/13.3.0/include/c++"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/13.3.0/include/c++/x86_64-conda-linux-gnu"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/targets/x86_64-linux/include/thrust"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/targets/x86_64-linux/include"

    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include/c++/backward"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include-fixed"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/x86_64-conda-linux-gnu/sysroot/usr/include"
    # - "-Wno-unknown-cuda-version"

  Remove:
    - "-resource-dir.*"