CompileFlags:
  CompilationDatabase: build/
  
  Add:
    # - "-D__CUDACC__"
    # - "-D__CUDA_ARCH__=800"
    - "-std=c++20"
    # - "-D__GLIBC_USE(F)=__GLIBC_USE_##F"
    # - "-D_DEFAULT_SOURCE"
    # - "-D_GNU_SOURCE"
    # - "-D__USE_GNU"
    - "--include-cleaner-stdlib"
    - "-I/root/kernel_dev/cute-kernels/cute-gemm/gemm/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/targets/x86_64-linux/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/targets/x86_64-linux/include/thrust"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include/c++"
    - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include/c++/x86_64-conda-linux-gnu"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include/c++/backward"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/lib/gcc/x86_64-conda-linux-gnu/12.4.0/include-fixed"
    # - "-I/root/kernel_dev/cute-kernels/.pixi/envs/default/x86_64-conda-linux-gnu/sysroot/usr/include"
    # - "-Wno-unknown-cuda-version"
  Remove:
    # - "--ptxas-options=*"
    # - "--expt-*"
    # - "--generate-code=*"
    # - "-forward-unknown-to-host-compiler"